<%- include('./../trimmedheader.ejs') %>
    <div class="container">
        <div class="row col">
            <div class="st-page-title">
                <h4><i class="fas fa-music"></i>&nbsp;Sermons</h4>
            </div>
        </div>
        <div class="row col text-center">
            <% for(index=65; index<=90; index++) { %>
                <a href="/audio/speakers/<%= String.fromCharCode(index)%>" class="st-alphabet-link">
                    <%= String.fromCharCode(index)%>
                </a>
                <% } %>
        </div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#divSpeakers">Speakers</a>
            </li>
            <li>
                <a href="#">Topics</a>
            </li>
            <li>
                <a href="#">Scriptures</a>
            </li>
        </ul>
        <div id="divSpeakers" class="row col st-table st-sermons tab-pane" data-toggle="tab">
            <div class="st-speakerlist">
                <!-- <h5>Speakers</h5> -->
                <div>
                    <input id="txtSearchSpeaker" type="text" class="form-control" placeholder="Search">
                </div>
                <div>
                    <% if (speakers !=undefined && speakers.length> 0) { %>
                        <table id="tblSpeakers">
                            <tbody>
                                <% speakers.forEach(speaker=>{ %>
                                    <tr class='st-speaker-item'>
                                        <td data-href="<%= speaker.url %>">
                                            <!-- <a href="<%= speaker.url %>"><%= speaker.name %></a> -->
                                            <%= speaker.name %>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                        <% } else { %>
                            <div>
                                <h4>No Data!</h4>
                            </div>
                            <% } %>
                </div>
            </div>
            <!-- <div class="st-sermonlist">
            <h5>Sermons</h5>
        </div> -->
        </div>
        <div id="divTopics" class="row col st-table st-sermons tab-pane" data-toggle="tab">
            <div class="st-speakerlist">
                <div>
                    <input id="txtSearchTopic" type="text" class="form-control" placeholder="Search">
                </div>
                <div>
                    <% if (topics !=undefined && topics.length> 0) { %>
                        <table id="tblTopics">
                            <tbody>
                                <% topics.forEach(topic=>{ %>
                                    <tr class='st-speaker-item'>
                                        <td data-href="<%= topic.url %>">
                                            <!-- <a href="<%= speaker.url %>"><%= speaker.name %></a> -->
                                            <%= topic.name %>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                        <% } else { %>
                            <div>
                                <h4>No Data!</h4>
                            </div>
                            <% } %>
                </div>
            </div>
            <!-- <div class="st-sermonlist">
                    <h5>Sermons</h5>
                </div> -->
        </div>

    </div>
    <script src="./../../js/audiolist.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
    <%- include('./../footer.ejs') %>