<%- include('./../trimmedheader.ejs') %>
<div class="container">
    <div class="row col text-center">
        <div class="st-page-title">
            <h4><i class="fas fa-book-open"></i>&nbsp;<%= book.name %></h4>
        </div>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/bible"><%= version.name %></a></li>
            <li class="breadcrumb-item"><a href="/bible/books/<%=version.id %>"><%= book.name %></a></li>
            <li class="breadcrumb-item">chapters</li>
        </ol>
    </nav>
    <div class="row col st-table">
        <% book.chapters.forEach(chapter=>{ %>
            <% if (chapter.number.indexOf('intro') == -1) { %>
                <div class="st-chapter-number">
                    <a href="/bible/text/<%=version.id%>/<%=book.id%>/<%=chapter.id%>" role="button" class="btn st-btn-primary st-chapter-button"><%= chapter.number%></a>
                </div>
            <% } %>
        <% }) %>
    </div>
</div>
<%- include('./../footer.ejs') %>
